@font-face {
  font-family: "Helvetica Neue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCondensedBlack.woff2") format("woff2"), url("../fonts/HelveticaNeueCondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeueCondensedBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueRegular.woff2") format("woff2"), url("../fonts/HelveticaNeueRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}