@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body,
html {
  height: 100%;
  line-height: 1;
}

@font-face {
  font-family: "Helvetica Neue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCondensedBlack.woff2") format("woff2"), url("../fonts/HelveticaNeueCondensedBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueCondensedBold.woff2") format("woff2"), url("../fonts/HelveticaNeueCondensedBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Neue";
  font-display: swap;
  src: url("../fonts/HelveticaNeueRegular.woff2") format("woff2"), url("../fonts/HelveticaNeueRegular.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  background: #1a1a1a;
  line-height: 1;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #4b4b4b;
}

[class*="__container"] {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 15px;
}

@media (max-width: 560px) {
  [class*="__container"] {
    padding-left: 10px;
    padding-right: 10px;
  }
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header {
  z-index: 10;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-top: 33px;
  padding-bottom: 33px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
}

.header__navigation {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 660px) {
  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.logo-header {
  height: 24px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 208px;
          flex: 0 0 208px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.logo-header__icon {
  height: 24px;
}

.navigation-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navigation-header__button {
  display: none;
  position: relative;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.navigation-header__button:hover::before, .navigation-header__button:hover::after,
.navigation-header__button:hover .navigation-header__line {
  background: #34c759;
}

.navigation-header__button::before, .navigation-header__button::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  right: 0;
  background: #ffffff;
}

.navigation-header__button::before {
  top: 0px;
}

.navigation-header__button::after {
  top: 28px;
}

@media (max-width: 660px) {
  .navigation-header__button {
    display: block;
  }
}

.navigation-header__line {
  position: absolute;
  top: 14px;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 2px;
}

.navigation-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

@media (max-width: 660px) {
  .navigation-header__list {
    display: none;
  }
}

.navigation-header__item:hover .navigation-header__link {
  color: #34c759;
}

.navigation-header__link {
  display: block;
  color: #ffffff;
  font-weight: 900;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 0 10px;
}

.info {
  padding: 171px 0 401px;
  font-family: "Helvetica Neue";
  font-weight: 500;
}

@media (max-width: 940px) {
  .info {
    padding-top: 140px;
  }
}

@media (max-width: 560px) {
  .info {
    padding-top: 110px;
  }
}

.info__body {
  position: relative;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body-info__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-info__header:not(:last-child) {
  margin-bottom: 44px;
}

@media (max-width: 560px) {
  .body-info__header:not(:last-child) {
    margin-bottom: 30px;
  }
}

.body-info__subtitle {
  max-width: 590px;
  opacity: 0.7;
  color: #ffffff;
  text-align: center;
  letter-spacing: -0.2px;
  line-height: 1.63;
}

@media (max-width: 740px) {
  .body-info__subtitle {
    font-size: 14px;
    max-width: 400px;
  }
}

@media (max-width: 360px) {
  .body-info__subtitle {
    text-align: left;
  }
}

.body-info__button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.body-info__button:not(:last-child) {
  margin-bottom: 70px;
}

@media (max-width: 560px) {
  .body-info__button:not(:last-child) {
    margin-bottom: 40px;
  }
}

.body-info__information-block {
  padding: 0 0 50px 0;
}

.title {
  font-size: 72px;
  line-height: 1.22;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: capitalize;
  color: #ffffff;
}

.title:not(:last-child) {
  margin-bottom: 16px;
}

@media (max-width: 940px) {
  .title {
    font-size: 60px;
  }
}

@media (max-width: 740px) {
  .title {
    font-size: 45px;
  }
}

@media (max-width: 560px) {
  .title {
    font-size: 35px;
  }
}

.title__line {
  font-weight: 900;
}

.title__thin {
  font-weight: 500;
}

.order-button {
  border: 2px solid #34c759;
  border-radius: 43px;
  overflow: hidden;
}

.order-button:hover .order-button__body {
  background: #34c759;
  color: #1a1a1a;
}

.order-button__body {
  display: block;
  background: rgba(51, 199, 88, 0.1);
  padding: 25px 56px;
  color: #34c759;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 900;
  font-size: 18px;
  line-height: 1.22;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 820px) {
  .block-information {
    font-size: 20px;
  }
}

.block-information__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 45px;
  margin: 0 -45px;
}

@media (max-width: 940px) {
  .block-information__wrapper {
    margin: 0 -30px;
  }
}

@media (max-width: 630px) {
  .block-information__wrapper {
    row-gap: 30px;
  }
}

.block-information__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  min-width: 280px;
  height: 100%;
  padding: 5px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

@media (max-width: 940px) {
  .block-information__item {
    padding: 5px 30px;
  }
}

@media (max-width: 820px) {
  .block-information__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    min-width: 310px;
  }
}

@media (max-width: 630px) {
  .block-information__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-width: 310px;
    font-size: 23px;
  }
}

.block-information__icon {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 26px;
          flex: 0 0 26px;
  width: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.block-information__icon:not(:last-child) {
  margin-bottom: 12px;
}

.block-information__first-text {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #ffffff;
  line-height: 1.87;
}

.block-information__first-text:not(:last-child) {
  margin-bottom: 7px;
}

.block-information__first-text:hover {
  color: #34c759;
}

.block-information__second-text {
  opacity: 0.5;
  color: #ffffff;
}

.how {
  margin-top: -380px;
  padding: 90px 0 30px;
  position: relative;
  z-index: 10;
}

@media (max-width: 1031.98px) {
  .how {
    margin-top: -426px;
    padding: 40px 0 30px;
  }
}

@media (max-width: 770.98px) {
  .how {
    margin-top: -400px;
  }
}

@media (max-width: 768px) {
  .how {
    margin-top: -440px;
  }
}

.how__header {
  margin-bottom: 59px;
}

.header-opacity__content {
  position: relative;
  z-index: 3;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 900;
  font-size: 100px;
  line-height: 1.5;
  color: #303030;
}

.header-opacity__content_work::before, .header-opacity__content_dish::before {
  font-family: "Helvetica Neue";
  font-weight: 500;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 6;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.2;
  color: #d9d9d9;
}

@media (max-width: 500px) {
  .header-opacity__content_work::before, .header-opacity__content_dish::before {
    font-size: 25px;
  }
}

.header-opacity__content_work::before {
  content: "how it works";
}

.header-opacity__content_dish::before {
  content: "Dish Of The Day";
}

.header-opacity__content::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 60px;
  background: #34c759;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  top: 139px;
  left: 50%;
}

@media (max-width: 500px) {
  .header-opacity__content {
    font-size: 70px;
  }
}

.cards-how {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards-how__card {
  padding: 0 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  min-width: 255px;
}

@media (max-width: 1031.98px) {
  .cards-how__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }
}

@media (max-width: 770.98px) {
  .cards-how__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 535.98px) {
  .cards-how__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

.cards-how__body {
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: 100%;
  padding: 24px 24px 42px 24px;
  border-radius: 6px;
  background: #252525;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.cards-how__body:hover {
  background: #34c759;
}

.cards-how__body:hover .cards-how__title,
.cards-how__body:hover .cards-how__text {
  color: #191919;
}

.cards-how__body:hover .cards-how__title::after {
  background: #191919;
}

.cards-how__title {
  position: relative;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: -0.275px;
  text-transform: capitalize;
  color: #ffffff;
}

.cards-how__title:not(:last-child) {
  margin-bottom: 36px;
}

.cards-how__title::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 56px;
  background: #34c759;
  left: 0;
  top: 41px;
}

.cards-how__text {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: rgba(255, 255, 255, 0.5);
}

.dish {
  padding: 60px 0 20px;
}

@media (max-width: 700px) {
  .dish {
    padding-top: 30px;
  }
}

.dish__header {
  margin-bottom: 59px;
}

.dish__cards {
  margin: 0 -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.dish__card {
  padding: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  min-width: 379px;
}

@media (max-width: 1160px) {
  .dish__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 790px) {
  .dish__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-width: 100%;
  }
}

.card-dish {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
}

.card-dish__picture {
  padding: 0 0 74.29% 0;
}

.card-dish__picture::before, .card-dish__picture::after {
  content: "";
  position: absolute;
}

.card-dish__picture:hover .card-dish__hover-shadow {
  opacity: 0.5;
}

.card-dish__picture::before {
  background: #000000;
  z-index: 10;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  top: 24px;
  right: 24px;
  opacity: 0.3;
}

.card-dish__picture::after {
  background: url("../img/index/dish/arrow.svg") center/cover no-repeat;
  width: 20.8px;
  height: 20.8px;
  top: 33.6px;
  right: 33.6px;
  z-index: 11;
}

.card-dish__hover-shadow {
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 100%;
  -webkit-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background: #34c759;
  opacity: 0;
}

.card-dish__information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 29px 30px 24px;
  background: #252525;
}

.card-dish__image {
  z-index: 2;
}

.card-dish__text-content {
  margin-bottom: 24px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.card-dish__title {
  display: inline-block;
  font-size: 32px;
  line-height: 0.94;
  color: #d9d9d9;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.card-dish__title:not(:last-child) {
  margin-bottom: 4px;
}

.card-dish__title:hover {
  color: #34c759;
}

.card-dish__subtitle {
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.15px;
  color: #a4a8b2;
}

.card-dish__subtitle:not(:last-child) {
  margin-bottom: 20px;
}

.card-dish__text {
  font-size: 13px;
  line-height: 1.38;
  letter-spacing: -0.1625px;
  color: #85878c;
}

.card-dish__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 41px;
          column-gap: 41px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.card-dish__stars {
  min-height: 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 155px;
          flex: 0 0 155px;
}

.card-dish__stars .card-dish__icons-stars {
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 500px) {
  .card-dish__stars {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.card-dish__link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 900;
  font-size: 10px;
  line-height: 4;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: rgba(255, 255, 255, 0.5);
  background: #262626;
  border: 2px solid #303030;
  border-radius: 30px;
}

.card-dish__link:hover {
  background: #34c759;
  color: #252525;
}
